RewriteEngine On

RewriteRule ^(.{6})-(.{6})$ /read.php?id=$1$2 [qsappend]

RewriteRule ^ping$ /write.php [qsappend]

RewriteRule ^api/(.*)$ /api-route.php?path=$1 [qsappend]

RewriteRule ^vendor-composer/ - [F]

RewriteRule ^lib/ - [F]

<FilesMatch "config\.php|composer\.(json|lock)">
  Order Deny,Allow
  Deny from All
</FilesMatch>
